In [ ]:


import pandas as pd
Intro to Series
Take a look the following list of companies:

We'll represent them using a Series in the following way:

companies = [
    'Apple', 'Samsung', 'Alphabet', 'Foxconn',
    'Microsoft', 'Huawei', 'Dell Technologies',
    'Meta', 'Sony', 'Hitachi', 'Intel',
    'IBM', 'Tencent', 'Panasonic'
]

s = pd.Series([
    274515, 200734, 182527, 181945, 143015,
    129184, 92224, 85965, 84893, 82345,
    77867, 73620, 69864, 63191],
    index=companies,
    name="Top Technology Companies by Revenue")

s
Apple                274515
Samsung              200734
Alphabet             182527
Foxconn              181945
Microsoft            143015
Huawei               129184
Dell Technologies     92224
Meta                  85965
Sony                  84893
Hitachi               82345
Intel                 77867
IBM                   73620
Tencent               69864
Panasonic             63191
Name: Top Technology Companies by Revenue, dtype: int64
1. Check your knowledge: build a series
Create a series called my_series

my_series = pd.Series(data=[9,11,-5],index=['a','b','c'],name='My First Series')
Basic selection and location
Selecting by index:

s['Apple']
274515
.loc is the preferred way:

s.loc['Apple']
274515
Selection by position:

s.iloc[0]
274515

s.iloc[-1]
63191
Errors in selection:

# this code will fail
s.loc["Non existent company"]
---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
File /usr/local/lib/python3.11/site-packages/pandas/core/indexes/base.py:3652, in Index.get_loc(self, key)
   3651 try:
-> 3652     return self._engine.get_loc(casted_key)
   3653 except KeyError as err:

File /usr/local/lib/python3.11/site-packages/pandas/_libs/index.pyx:147, in pandas._libs.index.IndexEngine.get_loc()

File /usr/local/lib/python3.11/site-packages/pandas/_libs/index.pyx:176, in pandas._libs.index.IndexEngine.get_loc()

File pandas/_libs/hashtable_class_helper.pxi:7080, in pandas._libs.hashtable.PyObjectHashTable.get_item()

File pandas/_libs/hashtable_class_helper.pxi:7088, in pandas._libs.hashtable.PyObjectHashTable.get_item()

KeyError: 'Non existent company'

The above exception was the direct cause of the following exception:

KeyError                                  Traceback (most recent call last)
Cell In[11], line 2
      1 # this code will fail
----> 2 s.loc["Non existent company"]

File /usr/local/lib/python3.11/site-packages/pandas/core/indexing.py:1103, in _LocationIndexer.__getitem__(self, key)
   1100 axis = self.axis or 0
   1102 maybe_callable = com.apply_if_callable(key, self.obj)
-> 1103 return self._getitem_axis(maybe_callable, axis=axis)

File /usr/local/lib/python3.11/site-packages/pandas/core/indexing.py:1343, in _LocIndexer._getitem_axis(self, key, axis)
   1341 # fall thru to straight lookup
   1342 self._validate_key(key, axis)
-> 1343 return self._get_label(key, axis=axis)

File /usr/local/lib/python3.11/site-packages/pandas/core/indexing.py:1293, in _LocIndexer._get_label(self, label, axis)
   1291 def _get_label(self, label, axis: AxisInt):
   1292     # GH#5567 this will fail if the label is not present in the axis.
-> 1293     return self.obj.xs(label, axis=axis)

File /usr/local/lib/python3.11/site-packages/pandas/core/generic.py:4095, in NDFrame.xs(self, key, axis, level, drop_level)
   4093             new_index = index[loc]
   4094 else:
-> 4095     loc = index.get_loc(key)
   4097     if isinstance(loc, np.ndarray):
   4098         if loc.dtype == np.bool_:

File /usr/local/lib/python3.11/site-packages/pandas/core/indexes/base.py:3654, in Index.get_loc(self, key)
   3652     return self._engine.get_loc(casted_key)
   3653 except KeyError as err:
-> 3654     raise KeyError(key) from err
   3655 except TypeError:
   3656     # If we have a listlike key, _check_indexing_error will raise
   3657     #  InvalidIndexError. Otherwise we fall through and re-raise
   3658     #  the TypeError.
   3659     self._check_indexing_error(key)

KeyError: 'Non existent company'


# This code also fails, 132 it's out of boundaries
# (there are not so many elements in the Series)
s.iloc[132]
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
Cell In[12], line 3
      1 # This code also fails, 132 it's out of boundaries
      2 # (there are not so many elements in the Series)
----> 3 s.iloc[132]

File /usr/local/lib/python3.11/site-packages/pandas/core/indexing.py:1103, in _LocationIndexer.__getitem__(self, key)
   1100 axis = self.axis or 0
   1102 maybe_callable = com.apply_if_callable(key, self.obj)
-> 1103 return self._getitem_axis(maybe_callable, axis=axis)

File /usr/local/lib/python3.11/site-packages/pandas/core/indexing.py:1656, in _iLocIndexer._getitem_axis(self, key, axis)
   1653     raise TypeError("Cannot index by location index with a non-integer key")
   1655 # validate the location
-> 1656 self._validate_integer(key, axis)
   1658 return self.obj._ixs(key, axis=axis)

File /usr/local/lib/python3.11/site-packages/pandas/core/indexing.py:1589, in _iLocIndexer._validate_integer(self, key, axis)
   1587 len_axis = len(self.obj._get_axis(axis))
   1588 if key >= len_axis or key < -len_axis:
-> 1589     raise IndexError("single positional indexer is out-of-bounds")

IndexError: single positional indexer is out-of-bounds

We could prevent these errors using the membership check in:

"Apple" in s
True

"Snapchat" in s
False
Multiple selection:
By index:

s[['Apple', 'Intel', 'Sony']]
Apple    274515
Intel     77867
Sony      84893
Name: Top Technology Companies by Revenue, dtype: int64
By position:

s.iloc[[0, 5, -1]]
Apple        274515
Huawei       129184
Panasonic     63191
Name: Top Technology Companies by Revenue, dtype: int64
Activities:
2. Check your knowledge: location by index
Select the revenue of Intel and store it in a variable named intel_revenue:

intel_revenue = s.loc['Intel']
3. Check your knowledge: location by position
Select the revenue of the "second to last" element in our series s and store it in a variable named second_to_last:

second_to_last = s.iloc[-2]
4. Check your knowledge: multiple selection
Use multiple label selection to retrieve the revenues of the companies:
Samsung
Dell Technologies
Panasonic
Microsoft

sub_series = s.loc[['Samsung','Dell Technologies','Panasonic','Microsoft']]
Series Attributes and Methods

s.head()
Apple        274515
Samsung      200734
Alphabet     182527
Foxconn      181945
Microsoft    143015
Name: Top Technology Companies by Revenue, dtype: int64

s.tail()
Hitachi      82345
Intel        77867
IBM          73620
Tencent      69864
Panasonic    63191
Name: Top Technology Companies by Revenue, dtype: int64
Main Attributes
The underlying data:

s.values
array([274515, 200734, 182527, 181945, 143015, 129184,  92224,  85965,
        84893,  82345,  77867,  73620,  69864,  63191])
The index:

s.index
Index(['Apple', 'Samsung', 'Alphabet', 'Foxconn', 'Microsoft', 'Huawei',
       'Dell Technologies', 'Meta', 'Sony', 'Hitachi', 'Intel', 'IBM',
       'Tencent', 'Panasonic'],
      dtype='object')
The name (if any):

s.name
'Top Technology Companies by Revenue'
The type associated with the values:

s.dtype
dtype('int64')
The size of the Series:

s.size
14
len also works:

len(s)
14
Statistical methods

s.describe()
count        14.000000
mean     124420.642857
std       63686.481231
min       63191.000000
25%       78986.500000
50%       89094.500000
75%      172212.500000
max      274515.000000
Name: Top Technology Companies by Revenue, dtype: float64

s.mean()
124420.64285714286

s.median()
89094.5

s.std()
63686.48123135607

s.min(), s.max()
(63191, 274515)

s.quantile(.75)
172212.5

s.quantile(.99)
264923.47
Activities

# Run this cell to complete the activity
american_companies = s[[
    'Meta', 'IBM', 'Microsoft',
    'Dell Technologies', 'Apple', 'Intel', 'Alphabet'
]]
american_companies
Meta                  85965
IBM                   73620
Microsoft            143015
Dell Technologies     92224
Apple                274515
Intel                 77867
Alphabet             182527
Name: Top Technology Companies by Revenue, dtype: int64
5. What's the average revenue of American Companies?

american_companies.mean()
132819.0
6. What's the median revenue of American Companies?

american_companies.median()
92224.0
Sorting Series
Sorting by values or Index
Sorting by values, notice it's in "ascending mode":

s.sort_values()
Panasonic             63191
Tencent               69864
IBM                   73620
Intel                 77867
Hitachi               82345
Sony                  84893
Meta                  85965
Dell Technologies     92224
Huawei               129184
Microsoft            143015
Foxconn              181945
Alphabet             182527
Samsung              200734
Apple                274515
Name: Top Technology Companies by Revenue, dtype: int64
Sorting by index (lexicographically by company's name), notice it's in ascending mode:

s.sort_index()
Alphabet             182527
Apple                274515
Dell Technologies     92224
Foxconn              181945
Hitachi               82345
Huawei               129184
IBM                   73620
Intel                 77867
Meta                  85965
Microsoft            143015
Panasonic             63191
Samsung              200734
Sony                  84893
Tencent               69864
Name: Top Technology Companies by Revenue, dtype: int64
To sort in descending mode:

s.sort_values(ascending=False).head()
Apple        274515
Samsung      200734
Alphabet     182527
Foxconn      181945
Microsoft    143015
Name: Top Technology Companies by Revenue, dtype: int64

s.sort_index(ascending=False).head()
Tencent       69864
Sony          84893
Samsung      200734
Panasonic     63191
Microsoft    143015
Name: Top Technology Companies by Revenue, dtype: int64
Activities
7. What company has the largest revenue?

s.idxmax()
'Apple'
8. Sort company names lexicographically. Which one comes first?

s.sort_index().index[0]
'Alphabet'
Immutability
Run the sort methods above and check the series again, you'll see that s has NOT changed:

s.head()
Apple        274515
Samsung      200734
Alphabet     182527
Foxconn      181945
Microsoft    143015
Name: Top Technology Companies by Revenue, dtype: int64
We will sort the series by revenue, ascending, and we'll mutate the original one. Notice how the method doesn't return anything:

s.sort_values(inplace=True)
But now the series is sorted by revenue in ascending order:

s.head()
Panasonic    63191
Tencent      69864
IBM          73620
Intel        77867
Hitachi      82345
Name: Top Technology Companies by Revenue, dtype: int64
We'll now sort the series by index, mutating it again:

s.sort_index(inplace=True)

s.head()
Alphabet             182527
Apple                274515
Dell Technologies     92224
Foxconn              181945
Hitachi               82345
Name: Top Technology Companies by Revenue, dtype: int64
Activities
9. Sort American Companies by Revenue

american_companies_desc = american_companies.sort_values(ascending=False)
10. Sort (and mutate) international companies

# Run this cell to complete the activity
international_companies = s[[
    "Sony", "Tencent", "Panasonic",
    "Samsung", "Hitachi", "Foxconn", "Huawei"
]]
international_companies
Sony          84893
Tencent       69864
Panasonic     63191
Samsung      200734
Hitachi       82345
Foxconn      181945
Huawei       129184
Name: Top Technology Companies by Revenue, dtype: int64

international_companies.sort_values(ascending=False,inplace=True)
Modifying series
Modifying values:

s['IBM']  = 0

s.sort_values().head()
IBM              0
Panasonic    63191
Tencent      69864
Intel        77867
Hitachi      82345
Name: Top Technology Companies by Revenue, dtype: int64
Adding elements:

s['Tesla'] = 21450

s.sort_values().head()
IBM              0
Tesla        21450
Panasonic    63191
Tencent      69864
Intel        77867
Name: Top Technology Companies by Revenue, dtype: int64
Removing elements:

del s['Tesla']

s.sort_values().head()
IBM              0
Panasonic    63191
Tencent      69864
Intel        77867
Hitachi      82345
Name: Top Technology Companies by Revenue, dtype: int64
Activities
11. Insert Amazon's Revenue

s['Amazon']=469822
12. Delete the revenue of Meta

del s['Meta']
Concatenating Series
We can append series to other series using the .concat() method:

another_s = pd.Series([21_450, 4_120], index=['Tesla', 'Snapchat'])

another_s
Tesla       21450
Snapchat     4120
dtype: int64

s_new = pd.concat([s, another_s])
The original series s is not modified:

s
Alphabet             182527
Apple                274515
Dell Technologies     92224
Foxconn              181945
Hitachi               82345
Huawei               129184
IBM                       0
Intel                 77867
Microsoft            143015
Panasonic             63191
Samsung              200734
Sony                  84893
Tencent               69864
Amazon               469822
Name: Top Technology Companies by Revenue, dtype: int64
s_new is the concatenation of s and s2:

s_new
Alphabet             182527
Apple                274515
Dell Technologies     92224
Foxconn              181945
Hitachi               82345
Huawei               129184
IBM                       0
Intel                 77867
Microsoft            143015
Panasonic             63191
Samsung              200734
Sony                  84893
Tencent               69864
Amazon               469822
Tesla                 21450
Snapchat               4120
dtype: int64
The End!