In [ ]:
Importing the libraries

import pandas as pd
import ast
Reading the dataset as a dataframe

# Reading dataframe
titles_df = pd.read_csv("titles.csv")

titles_df.head()
id	title	type	description	release_year	age_certification	runtime	genres	production_countries	seasons	imdb_id	imdb_score	imdb_votes	tmdb_popularity	tmdb_score
0	ts300399	Five Came Back: The Reference Films	SHOW	This collection includes 12 World War II-era p...	1945	TV-MA	51	['documentation']	['US']	1.0	NaN	NaN	NaN	0.600	NaN
1	tm84618	Taxi Driver	MOVIE	A mentally unstable Vietnam War veteran works ...	1976	R	114	['drama', 'crime']	['US']	NaN	tt0075314	8.2	808582.0	40.965	8.179
2	tm154986	Deliverance	MOVIE	Intent on seeing the Cahulawassee River before...	1972	R	109	['drama', 'action', 'thriller', 'european']	['US']	NaN	tt0068473	7.7	107673.0	10.010	7.300
3	tm127384	Monty Python and the Holy Grail	MOVIE	King Arthur, accompanied by his squire, recrui...	1975	PG	91	['fantasy', 'action', 'comedy']	['GB']	NaN	tt0071853	8.2	534486.0	15.461	7.811
4	tm120801	The Dirty Dozen	MOVIE	12 American military prisoners in World War II...	1967	NaN	150	['war', 'action']	['GB', 'US']	NaN	tt0061578	7.7	72662.0	20.398	7.600
Discovering the dataset

# Show the number of movies and shows
print("Number of movies and shows: ", titles_df.size)
​
# Show the first year Netflix produced a movie or a show
print("The first time Netflix  produced a movie or a show was in: ", titles_df['release_year'][0])
Number of movies and shows:  87750
The first time Netflix  produced a movie or a show was in:  1945

titles_df.dtypes
id                       object
title                    object
type                     object
description              object
release_year              int64
age_certification        object
runtime                   int64
genres                   object
production_countries     object
seasons                 float64
imdb_id                  object
imdb_score              float64
imdb_votes              float64
tmdb_popularity         float64
tmdb_score              float64
dtype: object
1. Drop records where the imdb_score column has missing values (NaN)

# Try your code here
titles_df.dropna(subset=['imdb_score'],inplace=True)
2. For each TV show or movie which has NaN value in the age certification column, replace it to be No certification

# Try your solution
titles_df.age_certification.fillna('No certification', inplace=True)
3. For each TV show or movie which has NaN value in the seasons column, replace it to be the most occured value in the seasons

most_common_season = titles_df['seasons'].mode()[0]
titles_df['seasons'] = titles_df['seasons'].fillna(most_common_season)
4. Count the number of movies or TV shows for each age certification.

# Try your solution here
certification_counts = titles_df.groupby('age_certification').size().reset_index(name='count')
5. Count the number of movies and TV shows (seperately) produced in each release year.

# Try your solution here
count_by_release_year = titles_df.groupby(['release_year','type']).size().reset_index(name='count')
6. Calculate the average runtime and imdb score of movies and TV shows for each release year.

average_duration_imdb_score = titles_df.groupby('release_year')[['runtime','imdb_score']].agg('mean').reset_index()
7. Count the number of movies and TV shows for each genre.

new_titles_df = titles_df.copy()
new_titles_df['genres'] = new_titles_df['genres'].apply(ast.literal_eval)
exploded_df = new_titles_df.explode('genres')
genre_counts = exploded_df.groupby('genres').size().reset_index(name='count')

new_titles_df.genres.head()
1                         [drama, crime]
2    [drama, action, thriller, european]
3              [fantasy, action, comedy]
4                          [war, action]
5                     [comedy, european]
Name: genres, dtype: object
8. Calculate the standard deviation of movies and TV shows imdb ratings for each release year.

imdb_score_std = titles_df.groupby('release_year')['imdb_score'].agg('std').reset_index()
9. Calculate the maximum TMDB popularity and minimum IMDb score for each production country

new_df = titles_df.copy()
import ast
new_titles_df['production_countries'] = new_titles_df['production_countries'].apply(ast.literal_eval)
exploded_df = new_titles_df.explode('production_countries')
TMDB_popularity = exploded_df.groupby('production_countries')[['tmdb_popularity','imdb_score']].agg({'tmdb_popularity':'max','imdb_score':'min'}).reset_index()

new_df
id	title	type	description	release_year	age_certification	runtime	genres	production_countries	seasons	imdb_id	imdb_score	imdb_votes	tmdb_popularity	tmdb_score
1	tm84618	Taxi Driver	MOVIE	A mentally unstable Vietnam War veteran works ...	1976	R	114	['drama', 'crime']	['US']	1.0	tt0075314	8.2	808582.0	40.965	8.179
2	tm154986	Deliverance	MOVIE	Intent on seeing the Cahulawassee River before...	1972	R	109	['drama', 'action', 'thriller', 'european']	['US']	1.0	tt0068473	7.7	107673.0	10.010	7.300
3	tm127384	Monty Python and the Holy Grail	MOVIE	King Arthur, accompanied by his squire, recrui...	1975	PG	91	['fantasy', 'action', 'comedy']	['GB']	1.0	tt0071853	8.2	534486.0	15.461	7.811
4	tm120801	The Dirty Dozen	MOVIE	12 American military prisoners in World War II...	1967	No certification	150	['war', 'action']	['GB', 'US']	1.0	tt0061578	7.7	72662.0	20.398	7.600
5	ts22164	Monty Python's Flying Circus	SHOW	A British sketch comedy series with the shows ...	1969	TV-14	30	['comedy', 'european']	['GB']	4.0	tt0063929	8.8	73424.0	17.617	8.306
...	...	...	...	...	...	...	...	...	...	...	...	...	...	...	...
5843	tm1097142	My Bride	MOVIE	The story follows a young man and woman who go...	2021	No certification	93	['romance', 'comedy', 'drama']	['EG']	1.0	tt14216488	5.0	327.0	2.545	5.300
5845	tm1014599	Fine Wine	MOVIE	A beautiful love story that can happen between...	2021	No certification	100	['romance', 'drama']	['NG']	1.0	tt13857480	6.8	45.0	1.466	NaN
5846	tm898842	C/O Kaadhal	MOVIE	A heart warming film that explores the concept...	2021	No certification	134	['drama']	[]	1.0	tt11803618	7.7	348.0	NaN	NaN
5847	tm1059008	Lokillo	MOVIE	A controversial TV host and comedian who has b...	2021	No certification	90	['comedy']	['CO']	1.0	tt14585902	3.8	68.0	26.005	6.300
5849	ts271048	Mighty Little Bheem: Kite Festival	SHOW	With winter behind them, Bheem and his townspe...	2021	No certification	7	['family', 'animation', 'comedy']	[]	1.0	tt13711094	7.8	18.0	2.289	10.000
5368 rows × 15 columns
10. Calculate the sum of IMDb votes for each genre and find the average TMDB score

​
new_titles_df = titles_df.copy()
new_titles_df['genres'] = new_titles_df['genres'].apply(ast.literal_eval)
​
exploded_df = new_titles_df.explode('genres')
​
genres_votes_scores = exploded_df.groupby('genres').agg({
    'imdb_votes': 'sum',    # Calculate the sum of IMDb votes for each genre
    'tmdb_score': 'mean'    # Calculate the average TMDB score for each genre
}).reset_index()
​
11. Calculate the average rating deviation from the mean for each genre (use custom defined function)

def rating_deviation(row):
    mean_rating = row['imdb_score'].mean()  # Calculate the mean rating
    deviation = row['imdb_score'] - mean_rating  # Calculate the deviation from the mean
    return deviation
genre_avg_deviation = exploded_df.groupby('genres').apply(lambda x: rating_deviation(x).mean()).reset_index(name="average_deviation")
12. Calculate the standardized score for TMDB popularity for each movie or TV show within its respective genre (use custom defined function)

# Try your solution here
def standardize_score(x):
    return (x - x.mean()) / x.std()
titles_df['standardized_tmdb_popularity'] = titles_df.groupby('genres')['tmdb_popularity'].transform(standardize_score)
​
​
13. Find the minimum and maximum release year for each type (movie or TV show):

min_max_year = titles_df.groupby('type')['release_year'].agg(['min','max'])
​

min_max_year
min	max
type
MOVIE	1954	2022
SHOW	1969	2022
14. Calculate the average IMDb score and the max TMDB score for each genre and release year combination

genre_year_scores = exploded_df.groupby(['genres','release_year']).agg({'imdb_score':'mean','tmdb_score':'max'})
15. Calculate the average length of titles (number of characters) for each genre (use custom defined function)¶

exploded_df['title_len']=titles_df.title.apply(lambda a: len(a))
genre_average_length = exploded_df.groupby('genres')['title_len'].agg('mean').reset_index(name='title')
16. Find the count and average IMDb score for each age certification category (use custom defined function)

certification_stats = titles_df.groupby('age_certification').agg(count=('age_certification','size'),average_imdb_score=('imdb_score','mean'))
The End!